body{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}
.saffron{
    background-color: #FF5733;
    height: 255px;
}
.ashoka_chakra{
    background-color: white;
    height: 255px;
}
.img{
    height: 250px;
    position: relative;
    left: 41%;
}
.green{
    background-color: 	#006400;
    height: 255px;

}
footer
{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}